body{margin:0;}
*{font-family: Helvetica,"Microsoft YaHei";}
body a{transition: 0.5s all ease;-webkit-transition: 0.5s all ease;-moz-transition: 0.5s all ease;-o-transition: 0.5s all ease;-ms-transition: 0.5s all ease;}
h1,h2,h3,h4,h5,h6{margin:0;}
p{margin:0;}
ul,label{margin:0;padding:0;}
body a:hover{text-decoration:none;}
/*------------------------------------header--------------------------------------*/
.logo {float: left;}
.top-nav{float:right;margin-top: 15px;}
.top-header{margin-top:50px;}
.right_bt span{width: 37px;height: 25px;display: block;background: url(../images/menu.png) no-repeat 0 0;}
.box{position:absolute;top:-1200px;width:100%;margin:auto;padding:0;z-index:999999;text-align:center;left:0;}
.box_content_center{background:rgba(0, 0, 0, 0.22);}
a.boxclose{cursor: pointer;text-align: center;display: block;position: absolute;top: 19px;right: 290px;}
.menu_box_list{display: inline-block;padding:30px 0;}
.menu_box_list ul li {display:inline-block;margin: 0 10px;}
.menu_box_list li a{color: #FFF;font-size: 16px;text-transform: uppercase;font-weight: 600;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.menu_box_list li a:hover{color:#000000;text-decoration: none;}
.boxclose span{width:58px;height:73px;display:inline-block;background: url(../images/into.png) no-repeat 0 0;}
/*------------------------------------banner--------------------------------------*/
.banner{background: url(../images/banner.jpg) no-repeat 0 0;background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;text-align: center;min-height:750px;}
.banner-info{width:65%;margin: 141px auto 0 auto;}
.banner-right h1{font-size:34px;font-weight:800;color:#ffffff;margin:35px 0 15px 0;letter-spacing: 15px;}
.banner-right h2{font-size: 50px;font-weight: 300;color: #ffffff;margin: 15px 0 45px 0;}
.banner-right a{text-decoration:none;color:#ffffff;font-size:16px;font-weight:500;padding:16px 20px;border:2px solid #fff;}
.banner-right a:hover{border:2px solid #000;}
.banner-left{float:left;}
.banner-right{float:right;}
.border {background: #52edc7;width: 70%;margin: 0 auto;padding: 1px;}
/*------------------------------------about--------------------------------------*/
.about{padding:60px 0 25px 0;}
.about h3{margin:0;color:#2b2b2b;font-size:36px;font-weight:500;letter-spacing: 18px;}
.strip{margin-top: 28px;}
.about p{margin:45px 0 0 0;color:#888b90;font-size:18px;line-height:1.8em;}
/*------------------------------------my-skills--------------------------------------*/
.my-skills{background: #1abc9c;padding: 60px 0;}
.my-skills h3{margin:0;color:#ffffff;font-size:36px;font-weight:500;letter-spacing: 18px;}
.skill-grids{margin-top:50px;}
.skills-grid p{margin:20px 0 0 0;color:#ffffff;font-size:16px;font-weight:600;text-transform:uppercase;}
.circle{color:#ffffff;font-size:36px;}
span.circles-number {font-size: 36px;}
span.circles-text {font-size: 36px;}
.circles-text-wrp {line-height: 142px !important;}
/*------------------------------------education--------------------------------------*/
.education{padding:60px 0;background:#eeeeee;}
.edu-info h3{margin:0;color:#2b2b2b;font-size:36px;font-weight:500;letter-spacing: 18px;}
.edu-grid p{margin:0 auto;color:#ffffff;font-size:18px;background:#52edc7;width: 36%;padding: 3px 0;}
.edu-grid span{margin:0 auto;display:block;color:#ffffff;font-size:18px;background:#4ad7b4;width: 36%;padding: 3px 0;}
.edu-grid-master{background:#52edc7;padding: 15px 0;}
.edu-grid-master h3{margin:0;font-size:18px;color:#4a4a4a;font-weight:700;line-height:1.8em;}
.edu-grid-master h4{margin:10px 0 0 0;font-size:18px;color:#ffffff;font-weight: 600;}
.edu-grid-info{background:#ffffff;padding: 25px 30px;}
.edu-grid-info h5{line-height:1.8em;margin:0;font-size:18px;color:#888b90;font-weight:300;}
.edu-border{border:1px solid #e2e2e2;margin-top:50px;border-radius: 6px;border-bottom: 2px solid #c3c3c3;}
.edu-grids {margin-top: 50px;}
.edu-grid{position:relative;}
.edu-grid img{position:absolute;top: 25%;left: 40%;}
/*------------------------------------work--------------------------------------*/
.work-info h3{margin: 0;color: #2b2b2b;font-size: 36px;font-weight: 500;letter-spacing: 18px;}
.work-experience{padding: 60px 0;background: #eeeeee;}
.work-grids {margin-top: 50px;}
.work-grid h3{margin:0;color:#ffffff;background:#52edc7;padding: 9px 0;font-size: 18px;font-weight: 600;}
.work-grid-info {background:#ffffff;padding: 20px 18px;}
.work-grid-info h4{margin: 0;font-size: 22px;color: #4a4a4a;font-weight: 700;}
.work-grid-info h5{margin: 12px 0 25px 0;font-size: 18px;color: #c1c1c1;font-weight: 500;}
.work-grid-info p{line-height: 1.8em;margin: 0;font-size: 18px;color: #888b90;font-weight: 300;text-align: left;text-indent: 2em;}
.work-grid{border:1px solid #e2e2e2;border-radius: 6px;border-bottom: 2px solid #c3c3c3;}
/*------------------------------------services--------------------------------------*/
.services{padding: 60px 0;}
.ser-info h3{margin: 0;color: #2b2b2b;font-size: 36px;font-weight: 500;letter-spacing: 18px;}
.ser-grids{margin-top: 50px;}
.ser-imagea{background: url(../images/icons.png) no-repeat -1px -339px;width: 190px;height: 190px;display: block;margin: 0 auto;}
.ser-imageb{background: url(../images/icons.png) no-repeat -390px -150px;width:190px;height:190px;display:block;margin:0 auto;}
.ser-imagec{background: url(../images/icons.png) no-repeat -195px -149px;width:190px;height:190px;display:block;margin:0 auto;}
.ser-imaged{background: url(../images/icons.png) no-repeat -1px -143px;width:190px;height:190px;display:block;margin:0 auto;}
.ser-grid h3{margin:25px 0;color:#2b2b2b;font-size:24px;font-weight:700;}
.ser-grid p{line-height: 1.8em;margin: 0;font-size: 18px;color: #888b90;font-weight: 300;}
/*------------------------------------portfolio--------------------------------------*/
.gallery-section{background: url(../images/port-back.jpg) no-repeat 0 0;background-size: cover;-webkit-background-size: cover;-moz-background-size:cover;-o-background-size: cover;text-align: center;min-height:1404px;padding: 140px 0 0 0;}
#portfolio p{line-height: 1.8em;margin: 25px 0 0 0;font-size: 18px;color: #ffffff;font-weight: 300;}
.gallery-section h3{margin: 0;color: #ffffff;font-size: 36px;font-weight: 500;letter-spacing: 18px;}
.gallery-grid{padding: 0;}
.gallery1{position:relative;}
.gallery1 .textbox{width:100%;height:100%;position:absolute;top:0;left:0;-webkit-transform: scale(0);transform: scale(0);background-color:rgba(82, 237, 199, 0.5);}
.gallery1:hover .textbox{-webkit-transform: scale(1);transform: scale(1);}
.gallery-grid img{width:100%;}
.textbox{-webkit-transition: all 0.7s ease;transition: all 0.7s ease;}
.textbox h4{font-size: 22px;color: #fff;margin-top: 115px;}
.textbox p{font-size: 12px !important;color: #fff;font-weight:500 !important;margin:6px 0 0 0!important;}
.gallery-grids{margin-top: 50px;}
.button:hover{border: 2px solid #000;}
.button{border: 2px solid #fff;padding: 10px;width: 34%;cursor:pointer;text-align:center;margin: 20px auto 0 auto;}
.button a{display:block;color:#fff;font-size:18px;font-weight:700;}
/*------------------------------------blog--------------------------------------*/
.blog{padding:60px 0;}
.blog-info h3{margin: 0;color: #2b2b2b;font-size: 36px;font-weight: 500;letter-spacing: 18px;}
.blog-grids{margin-top:50px;}
.blog-grid{border:1px solid #dedede;border-radius:4px;}
.blog-grid img{width:100%;}
.blog-text{padding: 60px 20px 25px 20px;}
.blog-grid a{text-decoration:none;font-size:20px;color:#2b2b2b;font-weight:700;}
.blog-grid a:hover{color :#52edc7;}
.stripa{background:#dedede;width:30%;height:1px;margin:15px 0;}
.blog-grid p{line-height: 1.8em;margin: 0;font-size: 16px;color: #888b90;font-weight: 300;}
.blog-text-info:nth-child(1),.blog-text-info:nth-child(2),.blog-text-info:nth-child(3){margin-bottom:30px;}
.blog-pos p{color:#fff;font-size:24px;margin:0;text-align:center;font-weight:700;transform: rotate(45deg);-webkit-transform: rotate(45deg);-o-transform: rotate(45deg);-moz-transform: rotate(45deg);}
.blog-pos p span{font-size:16px;display:block;font-weight:400;margin: -19px 0 0 0;}
.blog-text-info{position:relative;}
.blog-pos{position: absolute;top: 42%;left: 14%;width: 17.5%;background: #52edc7;transform: rotate(-46deg);-webkit-transform: rotate(-46deg);-o-transform: rotate(-46deg);-moz-transform: rotate(-46deg);}
/*------------------------------------contact--------------------------------------*/
.contact{background:#52edc7;padding:60px 0 0 0;}
.contact-info h3{margin: 0;color: #2b2b2b;font-size: 36px;font-weight: 500;letter-spacing: 18px;}
.contact-grids{margin-top:50px;}
.contact-grids p{width:260px;margin:0 auto;line-height: 30px;font-size: 20px;}
/*------------------------------------footer--------------------------------------*/
.footer{background:#888b90;padding:40px 0;}
.footer p{text-align:center;margin:0;font-size:18px;color:#ffffff;font-weight:400;}
.footer p a{color:#52edc7;}
.footer p a:hover{color:#ffffff;}
.footer-top{background: url(../images/footer.jpg) no-repeat 0 0;background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;min-height:188px;}
.services-back{background: url(../images/work-b.jpg) no-repeat 0 0;background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;min-height:93px;}
.my-skill-back{background: url(../images/myskill-b.jpg) no-repeat 0 0;background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;min-height:93px;}
.about-back{background: url(../images/about-b.jpg) no-repeat 0 0;background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;min-height:102px;}
.strip-border{background:#eeeeee;}
.strip-border p{width:15%;margin:0 auto;height:2px;background:#dcdcdf;}
/*------------------------------------to-top--------------------------------------*/
#toTop{display: none;text-decoration: none;position: fixed;bottom: 0;right: 2%;overflow: hidden;z-index: 999;width: 32px;height: 32px;border: none;text-indent: 100%;background: url("../images/arr.png") no-repeat 0 0;}
#toTopHover{width: 32px;height: 32px;display: block;overflow: hidden;float: right;opacity: 0;-moz-opacity: 0;filter: alpha(opacity=0);}
/*--------------------------------------------------------------------------*/
.row{margin-left:0;margin-right:0;}
/*--------------------------------------------------------------------------*/